*{
    font-size: 18px;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-color: white; */
    font-size: 18px;
    background: rgb(47, 79, 79);
    background: linear-gradient(90deg, rgba(47, 79, 79,1) 0%, rgba(47, 79, 79,1) 50%);
    box-sizing: border-box;
}
#container{
    width: 90% ;
    margin: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
/* ESTILIZANDO A SEÇÃO DO FORMULARIO PARA O LOGIN */
#secaoLogin,
#secaoCadastro,
#secaoNovosDados{
    margin-top: 15%;
    text-align: center;
    width: 30%;
    min-width: 270px;
    max-width: 95%;
    background-color: #ccc;
    border-radius: 20px;
    align-items: center;
    padding: 2%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}
#secaoNovosDados{
    width: 35%;
} 
#secaoNovosDados p{
font-size: 0.7em;
}
#secaoNovosDados a{
    font-size: 1em;
    margin-left: 2px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input,
button
{ 
    padding: 10px;
    margin:1.5% 0 ;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
}

.inputComIcon{
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
}
.inputComIcon input:focus{
    box-shadow: 0 0 8px 1px darkslategrey;
}
.inputComIcon input{
    padding-right: 30px;
    width: 95%;
    font-size: 0.9em;
}
.inputComIcon i{
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.iconPassword i{
    cursor: pointer;
}
.iconPassword i:hover{
    border:1px;
    border-radius: 50%;
    background: rgb(236, 235, 235);
    box-shadow: 0 0px 0 1px rgb(202, 200, 200);
}
button{
    cursor: pointer;
    background-color: darkslategrey;
    width: 95%;
    color: white;
}
label{
    width: 100%;
}

i{
    color: #606060;
}
a{
    text-decoration: none;
    color:rgb(47, 79, 79);
}
p{
    color: rgb(143, 134, 134);
}
#secaoCadastro{
    display: none;
}











/* ESTILO DO MODAL */
#modal h1{
    color: #494949;
    font-size: 1.2em;
    font-weight: bold;

}
#modal p{
    color: #606060;
    
}
#fundo.hide,
#modal.hide{
    opacity:0;
    pointer-events: none;
}
#fundo,
#modal{
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}
#modal.hide{
    top: 0;
}
#fundo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:10;
}
#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
    width: 400px;
    max-width: 80%;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    z-index: 15;
    font-size: 1em;
}
#modal_header{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
#modal button{
    width: 100px;
}
/* AREA MEDIA */

@media(max-width:800px){
    #modal{
        font-size: 0.8em;
    }
  
}